
@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        <h2>What you need to know: </h2>
        <p>Not much really...</p>
        <br />
        <p>If you need us, you know...</p>
    </div>
</body>
</html>
