
@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div> 
        <h2>How to: </h2>
        <p>Three taps on the windowbar and another on the forehead...</p>
        <br />
        <p>Then you're good to go!</p>
    </div>
</body>
</html>
