
@{
    ViewBag.Title = "Contact";
}
    <div> 
        <h2>How to: </h2>
        <p>Three taps on the windowbar and another on the forehead...</p>
        <br />
        <p>Then you're good to go!</p>
    </div>