
@{
    ViewBag.Title = "Index";
}
    <div> 
        <h1>HELLO!</h1>
        <h2>Nothings going on here...</h2>
        <h3>Just go home again...</h3>
        <h4>Forget about this...</h4>
        <h5>Pls...</h5>
    </div>