
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome!</title>
    <script> src="~/U181008/U181008/packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.min.js"</script>
</head>
<body>
    <div>
        <h2>Hello and welcome!</h2>
        <h3>A little bit of myself...</h3>
        <script>
            $(document).ready(alert("jquery is working"));
        </script>
    </div>
</body>
</html>
